<h1 class="has-text-centered">
  Государственная регистрация смерти
</h1>
<hr>
<p>
  Государственная регистрация смерти производится органом записи актов гражданского состояния по последнему месту
  жительства умершего, месту наступления смерти, месту обнаружения тела умершего или по месту нахождения организации,
  выдавшей документ о смерти. В случае, если смерть наступила на судне, в поезде, в самолете или в другом транспортном
  средстве во время его следования, государственная регистрация смерти может быть произведена органом записи актов
  гражданского состояния, расположенным на территории, в пределах которой умерший был снят с транспортного средства. В
  случае, если смерть наступила в экспедиции, на полярной станции или в отдаленной местности, в которой нет органов
  записи актов гражданского состояния, государственная регистрация смерти может быть произведена в ближайшем к
  фактическому месту смерти органе записи актов гражданского состояния.
</p>
<b>Заявители (физические и юридические лица):</b>
<ul>
  <li>супруг (супруга), другие члены семьи умершего, а также любое другое лицо, присутствовавшее в момент смерти или
    иным образом информированное о наступлении смерти;
  </li>
  <li>
    медицинская организация или учреждение социальной защиты населения в случае, если смерть наступила в период
    пребывания лица в данных организации или учреждении;
  </li>
  <li>
    медицинская организация или учреждение социальной защиты населения в случае, если смерть наступила в период
    пребывания лица в данных организации или учреждении;
  </li>
  <li>
    учреждение, исполняющее наказание, в случае, если смерть осужденного наступила в период отбывания им наказания в
    местах лишения свободы;
  </li>
  <li>
    орган внутренних дел в случае, если смерть осужденного наступила вследствие приведения в исполнение исключительной
    меры наказания (смертной казни);
  </li>
  <li>
    орган дознания или следствия в случае, если проводится расследование в связи со смертью лица или по факту смерти,
    когда личность умершего не установлена;
  </li>
  <li>
    командир воинской части в случае, если смерть наступила в период прохождения лицом военной службы.
  </li>
</ul>
<h3 class="has-text-centered">Заявление о смерти</h3>
<hr>
<p>Заявление о смерти должно быть сделано не позднее чем через три дня со дня наступления смерти или со дня обнаружения
  тела умершего. Заявление подается устно или в письменной форме. При подаче заявления должны быть представлены:</p>
<ol>
  <li>Документ, являющийся основанием для государственной регистрации смерти (медицинское свидетельство о смерти;
    надлежащим образом удостоверенная копия решения суда, вступившего в законную силу, об установлении факта смерти или
    об объявлении лица умершим; документ, выданный компетентными органами, о факте смерти лица, необоснованно
    репрессированного и впоследствии реабилитированного на основании закона о реабилитации жертв политических
    репрессий);
  </li>
  <li>Паспорт умершего (если имеется);</li>
  <li>Паспорт заявителя;</li>
</ol>
<h3 class="has-text-centered">Выдаваемые документы</h3>
<hr>
<p>Выдается: свидетельство о смерти, справка на получение пособия. Документы выдаются в день обращения, безвозмездно.</p>
