<app-tel-img></app-tel-img>
<section class="section content-padding content">
  <h1 class="heading has-text-centered">Ритуальный магазин в Волгограде</h1>
  <p>Ритуальный магазин «В последний путь…», работает с большим ассортиментом качественных и недорогих товаров
    (изделий). Материально-техническая база позволяет нам реализовывать ритуальные товары и оказывать помощь похоронного
    назначения с минимальной наценкой. За несколько лет работы, компания завоевала доверие граждан и партнеров, что
    подтверждается благодарственными письмами и отзывами в адрес нашей компании.</p>
  <p class="has-text-centered">Магазин-офис на ул. Ленина, 11. Телефон: <a href="tel:+79845656521" class="has-text-black has-text-weight-semibold">+7-984-565-65-21</a></p>
  <p class="has-text-centered">Время работы: 8:00 - 19:00. Суббота/воскресенье: 8:00 - 15:30</p>
</section>
