<h1 class="heading has-text-centered">Как проводить человека в последний путь?</h1>
<hr>
<p>Все мы рано или поздно теряем близких людей. К счастью, все реже
  наши соотечественники покидают этот мир
  некрещеными, и все чаще похороны начинаются с отпевания. Но по исконной традиции приготовление к проводам усопшего
  начинается раньше, с первой минуты. С этой традицией мы, неофиты, знакомы смутно. Что делать, если умер знакомый
  человек, что делать мирянам если умер человек, как проститься перед похоронами, все это мы расскажем Вам.</p>
<p>Если человек умирает дома (сегодня это бывает редко, но именно о такой кончине - в своей постели, простившись с
  близкими - мечтает каждый христианин), его сразу обмывают и одевают и кладут на стол ногами к иконам, священник
  служит заупокойную литию или панихиду. Потом привозят гроб, окропляют его святой водой и перекладывают туда тело
  усопшего. Все это время по мирянину можно читать Псалтырь (по священникам читают Евангелие).</p>
<p>Некоторые священники людям нецерковным советуют читать и по усопшим мирянам не Псалтырь, а Евангелие. Между
  «Славами» Псалтыри или главами Евангелия читается особая молитва из чина по исходе души из тела «Помяни, Господи
  Боже наш, в вере и надежде живота вечнаго преставльшагося раба Твоего, брата нашего, и яко Благ и Человеколюбец,
  отпущаяй грехи и потребляяй неправды, ослаби, остави и прости вся вольная его согрешения и невольная, избави его
  вечныя муки и огня геенскаго, и даруй ему (ей) причастие и наслаждение вечных Твоих благих, уготованных любящим
  Тя….»</p>
<p>Первую ночь гроб с телом покойного остается дома, а на следующий день его переносят в храм. Перед выносом усопшего
  из дома вновь служится лития или панихида (как правильно читать мирянину литию и панихиду по усопшим вы можете
  узнать у священнослужителей), в храме по возможности продолжают читать Псалтырь. На третьи сутки обычно бывает
  отпевание. Перед этим служится литургия, на которой желательно причаститься родственникам и друзьям покойного.
  После отпевания покойного провожают на кладбище.</p>
<p>Иногда меня спрашивают, что берут на прощание с усопшим, хочу сказать, что никаких особых требований у Православной
  церкви по этому вопросу нет. На кладбище священник, если он есть, вновь служит панихиду или литию, затем гроб под
  пение Трисвятого опускают в землю. Когда могильный холм готов (желательно сразу поставить крест, хотя бы временный),
  служится лития. После кладбища все собираются на поминках. Если есть священник, сначала поется «Со святыми упокой»,
  возглашают «Вечную память» и поминают усопшего. Если священника нет, все равно можно (и нужно) спеть «Вечную
  память».</p>
<p>Бальзамирование тела не противоречит православной традиции. Более того, если гроб ставят на сутки в храм, обычно
  этого требуют. Там же тепло, а на теле могут быть повреждения. А вот от вскрытия, если есть возможность (известен
  диагноз, смерть не скоропостижная, не насильственная, не требуется судебная экспертиза), лучше отказаться.</p>
<p>Я описал идеальную ситуацию, в наше время почти не осуществимую. Большинство умирает в больницах. В этом случае
  первую ночь усопший наверняка проведет в морге, но на следующий день родственникам реально договориться с
  патологоанатомами и агентами ритуальных фирм и к вечеру перевезти тело в храм. Домой уже завезти не получится, да и
  не нужно это в данной ситуации. Если только есть старенькие соседки, которые хотят проститься, но уже не в силах
  дойти до храма, по дороге на кладбище подъезжают к подъезду. Но это в исключительных случаях.</p>
<p>По многим причинам не всегда получается организовать похороны на третьи сутки. Трагедии в этом нет, отпеваем мы и
  на пятые, и на седьмые сутки. А у многих сегодня нет возможности предать тело земле. Не могу сказать,
  что кремация приветствуется Церковью, но и не анафематствуется. Понимая материальные трудности, мы отпеваем и тех,
  кого родственники кремируют. Совершаем и заочное отпевание.</p>
<p>Конечно, лучше максимально соблюсти все приведенные выше традиции. Но главное – позаботиться о том как правильно
  собирать усопшего в последний путь заранее, чтобы близкий вам человек перед уходом из жизни сподобился святого
  крещения, а крещеный – успел принести покаяние. И после ухода не забывать подавать за него заупокойные записки в
  храме и дома молиться о упокоении его души</p>
