<div class="hero is-fullheight">
  <div class="content-padding">

    <div class="title-container">
      <a href="#" class="cross">
        <img [lazyLoad]="'../../../assets/img/cross.png'" alt="cross">
      </a>
    </div>


    <a href="#" class="title logo-font big">
      <span>Волгоградская ритуальная компания</span>
      <span>&laquo;В ПОСЛЕДНИЙ ПУТЬ&raquo;</span>
    </a>

    <div class="navbar thirty">
      <a href="#" class="navbar-item">О компании</a>
      <span>|</span>
      <a href="#" class="navbar-item">Цены</a>
      <span>|</span>
      <a href="#" class="navbar-item">Вопросы и ответы</a>
      <span>|</span>
      <a href="#" class="navbar-item">Статьи</a>
      <span>|</span>
      <a href="#" class="navbar-item">Информация</a>
      <span>|</span>
      <a href="#" class="navbar-item">Отзывы</a>
      <span>|</span>
      <a href="#" class="navbar-item">Контакты</a>
    </div>

    <div class="columns">
      <div class="column">
        <span class="logo-font forty-eight">Ритуальная служба</span>
        <span class="thirty">Помогаем в решении всех</span>
        <span class="thirty">вопросов, связанных с организацей</span>
        <span class="thirty">похорон...</span>
      </div>
      <div class="column">
        <span class="logo-font forty-eight">Ритуальный магазин</span>
        <span class="thirty">Венки, корзины, цветы, гробы в ассортименте,</span>
        <span class="thirty">элитные гробы, кресты, принадлежности, прочее,</span>
        <span class="thirty">памятники, оградки, обрамления, столики, лавочки</span>
      </div>
    </div>

    <div class="title has-text-weight-normal">
      <span class="logo-font forty-eight">Книга памяти</span>
      <span class="thirty">Некрологи и мемориальные доски</span>
    </div>

  </div>
</div>
