<div class="hero is-fullheight header-padding">
  <div class="content-padding">

    <div class="title-container">
      <a routerLink="/" class="cross" SimpleSmoothScroll [scrollTo]="'header'" [duration]="500">
        <img [lazyLoad]="'../../../assets/img/cross.png'" alt="cross">
      </a>
    </div>


    <a routerLink="/" class="title logo-font big" SimpleSmoothScroll [scrollTo]="'header'" [duration]="500">
      <span>Волгоградская ритуальная компания</span>
      <span>&laquo;В ПОСЛЕДНИЙ ПУТЬ&raquo;</span>
    </a>

    <div class="navbar thirty">
      <a routerLink="/about" class="navbar-item" SimpleSmoothScroll [scrollTo]="'header'" [duration]="500">О компании</a>
      <span>|</span>
      <a routerLink="/page/prices" class="navbar-item" SimpleSmoothScroll [scrollTo]="'header'" [duration]="500">Цены</a>
      <span>|</span>
      <a routerLink="/page/q&a" class="navbar-item" SimpleSmoothScroll [scrollTo]="'header'" [duration]="500">Вопросы и ответы</a>
      <span>|</span>
      <a routerLink="/page/articles" class="navbar-item" SimpleSmoothScroll [scrollTo]="'header'" [duration]="500">Статьи</a>
      <span>|</span>
      <a routerLink="/page/info" class="navbar-item" SimpleSmoothScroll [scrollTo]="'header'" [duration]="500">Информация</a>
      <span>|</span>
      <a routerLink="/page/reviews" class="navbar-item" SimpleSmoothScroll [scrollTo]="'header'" [duration]="500">Отзывы</a>
      <span>|</span>
      <a routerLink="/page/contacts" class="navbar-item" SimpleSmoothScroll [scrollTo]="'header'" [duration]="500">Контакты</a>
    </div>

    <div class="columns">
      <div class="column">
        <span class="logo-font forty-eight">Ритуальная служба</span>
        <span class="thirty">Помогаем в решении всех</span>
        <span class="thirty">вопросов, связанных с организацей</span>
        <span class="thirty">похорон...</span>
      </div>
      <div class="column">
        <span class="logo-font forty-eight">Ритуальный магазин</span>
        <span class="thirty">Венки, корзины, цветы, гробы в ассортименте,</span>
        <span class="thirty">элитные гробы, кресты, принадлежности, прочее,</span>
        <span class="thirty">памятники, оградки, обрамления, столики, лавочки</span>
      </div>
    </div>

    <div class="title has-text-weight-normal">
      <span class="logo-font forty-eight">Книга памяти</span>
      <span class="thirty">Некрологи и мемориальные доски</span>
    </div>

  </div>
</div>
