<section class="section content content-padding">
  <h1 class="heading has-text-centered">Цены на ритуальные услуги и товары</h1>
  <p>Волгоградская ритуальная компания «В последний путь…» предоставляет скидки на траурные венки и ритуальный
    транспорт. Получить скидку могут пенсионеры, инвалиды, участники Великой Отечественной войны и военнослужащие.</p>
  <p>Доставка тела умершего в морг (в спецмешке на молнии) по Волгограду и области - круглосуточно. Выезд агента и
    доставка ритуальных товаров - круглосуточно. Сохранение в холодильной камере, траурные залы. <b>Великой
      Отечественной Войны</b> - скидки до 50%</p>
  <table class="table is-bordered is-striped is-narrow">
    <thead>
    <tr class="table-heading">
      <td>Ритуальные услуги</td>
      <td>Цены</td>
    </tr>
    </thead>
    <tbody class="has-text-left">
    <tr *ngFor=" let price of servicePrices">
      <td>{{ price.title }}</td>
      <td class="has-text-centered">{{ price.price }}</td>
    </tr>
    </tbody>
    <thead>
    <tr class="table-heading">
      <td>Товары в магазинах</td>
      <td>Цены</td>
    </tr>
    </thead>
    <tbody class="has-text-left">
    <tr *ngFor=" let price of shopPrices">
      <td>{{ price.title }}</td>
      <td class="has-text-centered">{{ price.price }}</td>
    </tr>
    </tbody>
    <thead>
    <tr class="table-heading">
      <td>Ритуальный транспорт</td>
      <td>Цены</td>
    </tr>
    </thead>
    <tbody class="has-text-left">
    <tr>
      <td>Форд, Форд New, ПАЗ, ГАЗель, УАЗ</td>
      <td class="has-text-centered">от 1400 р./2 часа</td>
    </tr>
    </tbody>
  </table>
  <p>У нас самые низкие цены на похороны, на ритуальные принадлежности и гробы. Сравните, к примеру, сколько стоит
    гроб или памятник на могилу в других Волгоградских похоронных организациях. Мы прекрасно понимаем, что человек,
    столкнувшийся с горем утраты близкого и вынужденный организовать похороны, купить ритуальные принадлежности в
    трехдневный срок, ограничен во времени и не всегда в курсе, как и что надо делать при организации похорон, и сколько
    все это может стоить. Мы не хотим наживаться на вашей беде и предлагаем наши услуги и ритуальные товары по
    приемлемым ценам.</p>
</section>
