<section class="section is-paddingless">
  <app-tel-img></app-tel-img>
  <div class="content
   content-padding thirty has-text-black">
    <h1 class="title has-text-centered">О компании</h1>
    <p>«Волгоградая ритуальная компания» («ВРК») - это динамично развивающаяся коммерческая организация, которая имеет
      собственное производство. Материально-техническая база позволяет реализовывать ритуальные товары и оказывать
      помощь похоронного назначения с минимальной наценкой. За 7 лет работы наша компания завоевала доверие граждан и
      партнеров, что подтверждается благодарственными письмами и отзывами в адрес нашей компании.</p>
    <p>В компанию входят сеть ритуальных магазинов «В последний путь…», с большим ассортиментом качественных и недорогих
      товаров (изделий), а также ритуальная служба, помогающая людям в решении ВСЕХ вопросов связанных с организацией
      похорон. В круглосуточном режиме дежурный ответит на все заданные ему вопросы и поможет решить все поставленные
      перед ним задачи. При необходимости в любое время суток, с бесплатным выездом на дом к заказчику выедет наш
      представитель.</p>
    <p>В первую очередь мы готовы наиболее полно и качественно помочь в решении всех пожеланий заказчика, чтобы, хотя бы
      в малой степени, облегчить боль утраты дорогого им человека. Служба помогает сделать проводы близкого человека
      так, чтобы его последний путь прошёл красиво и достойно.</p>
    <p>«ВРК» - это конкурентоспособное ценообразование, качество и надежность. Мы рассматриваем все варианты
      взаимовыгодного и долгосрочного сотрудничества.</p>
  </div>
</section>
