@import "../shared/constants";

.big {
  display: flex;
  flex-direction: column;
}

.grey-container {
  background-color: rgba(0,0,0,0.68);
  width: 60vw;
}

.content {
  padding-bottom: 4vw;
  padding-top: 4vw;
}
