<h1 class="heading has-text-centered">Бальзамирование</h1>
<hr>
<p>Бальзамирование – это процедура, которая позволяет противостоять разложению тканей тела умершего. При помощи
  бальзамирования тело близкого вам человека можно сохранить довольно длительное время. В процессе бальзамирования
  производится обеззараживание отмирающих тканей при помощи формалина. Однако в идеале рекомендуется индивидуальный
  подбор растворов и активных препаратов. Наши специалисты помогут осуществить эту процедуру максимально корректно и с
  наилучшим эффектом. Сколько стоит бальзамирование в Волгограде на дому, омовение тел, бальзамирование и косметический
  макияж тел, вы можете уточнить у наших сотрудников по телефону.</p>
<p>При бальзамировании обрабатывается не только внешний кожный покров, но и внутренние органы тела умершего. Поэтому
  выбор опытного специалиста в этой области очень важен. Мы гарантируем вам самое аккуратное исполнение этих работ, с
  учетом того, какими заболеваниями страдал умерший при жизни. Этот момент крайне важен, т.к. многие болезни отражаются
  на структуре и внешнем виде внутренних органов и кожного покрова. Необходимо подбирать препараты и применять методику
  бальзамирования с учетом всех этих факторов.</p>
<p>Мы поможем вам справиться с нелегкой утратой и придадим умершему вид живого человека. Ведь зачастую родным и близким
  тяжело переносить процедуру погребения из-за того, что на лице и теле человека остались следы тяжких заболеваний,
  увечий и травм. Это лишний раз напоминает о страданиях покойного и его трагическом уходе.</p>
<p>Специалисты нашей службы помогут избежать этих грустных моментов и, насколько это возможно, сделать облик близкого
  вам человека максимально естественным. Кроме того, после бальзамирования исчезнет неприятный запах, возникающий в
  такой ситуации по многим причинам. Процедура бальзамирования, известная еще с древнейших времен, когда наши предки
  мумифицировали самых выдающихся умерших, сегодня производится с применением новейших препаратов. Мы можем также, по
  желанию, осуществить эту процедуру у вас дома.</p>
<p>Бальзамирование умерших осуществляется в каждом случае индивидуальным способом. В зависимости от конкретного случая,
  выбирается состав раствора для бальзамирования, способ введения реактива (все зависит от пожеланий и сложности),
  соответственно всем этим факторам определяется цена бальзамирования усопшего.</p>
