<header>
  <div class="row">
    <div class="title col-xs-6">
      <div class="row">
        <div class="col-xs-3">
          <img [lazyLoad]="'../../../assets/img/cross.png'" alt="cross">
        </div>
        <div class="col-xs-6">
          <ul>
            <li class="name">Волгоградская ритуальная компания</li>
            <li class="name">&laquo;В ПОСЛЕДНИЙ ПУТЬ&raquo;</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="link">Служба</div>
        <div class="link">Магазины</div>
        <div class="link">Цены</div>
        <div class="link">Контакты</div>
      </div>
    </div>
  </div>
</header>
