<nav class="navbar content-padding" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="#" class="navbar-item logo-font">
      <div class="img-container">
        <img [lazyLoad]="'../../../assets/img/cross.png'" alt="cross" width="40" height="60">
      </div>
      <div class="title">
        <span>Волгоградская ритуальная компания</span>
        <span>&laquo;В ПОСЛЕДНИЙ ПУТЬ&raquo;</span>
      </div>
    </a>
  </div>
  <div class="navbar-end">
    <a href="#" class="navbar-item">Служба</a>
    <a href="#" class="navbar-item">Магазины</a>
    <a href="#" class="navbar-item">Цены</a>
    <a href="#" class="navbar-item">Контакты</a>
  </div>
</nav>
