<h2 class="heading has-text-centered">Гранитные памятники</h2>
<hr>
<p>Выбор надгробного памятника это довольно сложное занятие для человека, который никогда этого не делал. И лучше
  доверить сделать выбор профессионалам, работающим в сфере изготовления памятников. Не стоит гнаться за дешевизной,
  ведь, как известно, настоящее качество не может стоить слишком дешево.</p>
<b>Мы в своем производстве используем гранит только карельских месторождений, там самым гарантируем высокое качество и
  приемлемую стоимость своей продукции!</b>
<p>Сегодня надгробные памятники делают в основном из гранита, мраморной крошки или гранитополимера. Самым
  распространенным материалом является гранит. У него по сравнению с другими материалами есть масса преимуществ. Гранит
  обладает очень высокой прочностью, он устойчив к экстремальным погодным условиям. Хороший гранитный памятник
  практически не тускнеет с течением времени. В отличие от мрамора, он не боится масляных пятен, и уж тем более на нем
  не остается разводов после протирания. Помимо прочего памятники из гранита намного легче обрабатывать нежели
  мраморные. А в последующем за ним требуется гораздо меньше уход.</p>
<p>У гранита отличное качество, он долговечен. Этот камень может похвастаться разнообразием: он бывает в крапинку,
  зеленым, красным, иных цветов. Особенно нравятся клиентам черные модели. Нередко памятники из серого гранита
  окрашивают в черный цвет, ведь таким образом их можно продать подороже. Но особо беспокоиться нет повода, поскольку
  гранит любого цвета отличается долговечностью, он всего лишь потускнеет со временем.</p>
<p>Если в граните есть железо, то на памятнике со временем появятся природные ржавые пятна. Лучше всего присмотреться к
  памятникам из черного гранита. Если понравился памятник другого цвета, то нужно понимать, что гравированная надпись и
  портрет будут плохо видны, с течением времени они исчезнут. Можно пойти другим путем: изготовить медальон, в нем
  прописать текст, покрыть сусальным золотом. Еще можно заказать табличку с бронзовыми буквами и прикрепить ее к
  памятнику.</p>
<p>Если речь идет о памятнике небольшого размера и простой формы, то он будет стоить не так дорого, как изготовленные по
  оригинальным эскизам. При этом, ничто не повлияет на прочность материала. Важно, чтобы памятник изготавливал мастер,
  иначе трещины или сколы, которые могут возникнуть в процессе работы, будут заделывать, затирать, всячески маскировать,
  поскольку организации заинтересованы в получении прибыли. Мастер знает свою работу и сможет аккуратно и без сколов,
  трещин изготовить качественное надгробие.</p>
<p>Гранит нетрудно обработать, поэтому может получиться памятник с зеркально гладкой поверхностью. Это основной материал
  для изготовления памятников. Минусом гранита является его вес. Это отображается на увеличении расходов на выработку,
  перевозку, и в итоге на стоимости изделия. Размер зерна оказывает воздействие на прочность камня. Если выбрать
  надгробие из мелкозернистого камня, то оно будет более прочное и устойчивое к воздействию непогоды.</p>
<p>При выборе памятника стоит задуматься о нанесении надписи или портрета. Должен пройти год с момента захоронения,
  чтобы установить гранитное надгробие, поскольку оно очень тяжелое и земля просто начнет проседать. Гранит дорог, но
  это очень долговечный камень. На рынке можно отыскать надгробия, изготовленные из гранитной крошки. По сути, это
  бетон, который заливают в форму, и высушивают.</p>
<p>Особого ухода гранитные надгробия не требуют. Они легко переносят температурные перепады, полировка на них не
  портится. Нередко можно найти гранитные плиты белого цвета. Цена памятника будет обусловлена его параметрами, формой,
  способом обработки. Преимуществом такого памятника является его долговечность, плюс четкость надписей никуда не
  исчезнет с течением времени.</p>
