$purple: rgb(204, 153, 255);
$font-color: #330066;

$padding: 11vw;

.content-padding {
  padding-left: $padding;
  padding-right: $padding;
  margin: auto;
  width: 100%;
}

.big {
  font-size: 4vw;
  color: $font-color;
}

.thirty {
  font-size: 1vw;
  color: $font-color;
}

.forty-eight {
  font-size: 1.85vw;
  color: $font-color;
}
