<app-tel-img></app-tel-img>
<section class="section content-padding">
  <h1 class="has-text-centered title">Контакты</h1>
  <p class="forty-eight has-text-black-bis has-text-centered">
    <span>Ритуальная служба:</span> 
    <a href="tel:+7(5468)455655" class="has-text-black has-text-weight-semibold">+7 (5468) 45-56-55</a>,
    <a href="tel:+79565462156" class="has-text-black has-text-weight-semibold">+7-956-546-21-56</a>
    / круглосуточно.
  </p>
  <p class="forty-eight has-text-black-bis has-text-centered">
    Ритуальный магазин: ул. Ленина, 11. Тел.:
    <a href="tel:++79845656521"
       class="has-text-black has-text-weight-semibold">+7-984-565-65-21</a>.
    <br> Время работы:
    8:00-19:00. Суббота-воскресенье:
    8:00-15:30.
  </p>
</section>
