<h1 class="heading has-text-centered">Ритуальные перевозки</h1>
<hr>
<p>Наша компания осуществляет ритуальные перевозки по Курску, Курской области, Российской Федерации и странам СНГ.
  Водители допущенные к выполнению заказа по перевозке гроба, обладают большим опытом перевозки умерших и помогут в
  решении возникших вопросов в пути. Мы сможем предложить вам более низкую стоимость чем у кого-либо! Торг уместен!</p>
<b>Мы предлагаем:</b>
<ul>
  <li>Любые перевозки тел умерших (в морг, по городу, области, на кремацию, по РФ, СНГ, зарубежью).</li>
  <li>Разнообразный транспорт: Высококомфортабельный, вместительный, высокопроходимый.</li>
  <li>Груз 200 Ритуальные перевозки Катафалк</li>
  <li>Ритуальные перевозки по Региону, РФ, СНГ и зарубежью.</li>
  <li>Груз 200 по РФ и СНГ от 15 руб/км.</li>
  <li>Перевозки усопших, умерших (груз 200), с холодильным оборудованием. Перевозка умерших в холодильной камере по
    Украине и СНГ быстро Перевозка умерших Перевозка тел умерших, перевозка умершего человека, перевозка усопших,
    перевозка покойников, перевозки мертвых Перевозки умерших международные перевозки усопших международные, перевозки
    покойников международные, перевозки мертвых международные) катафальный транспорт.
  </li>
  <li>Транспортировка умершего. Перевозки ритуальные.</li>
  <li>Оформление Документов (морг, ЗАГС, СЭС, таможня и пр.)</li>
  <li>Предоставление цинкового контейнера.</li>
</ul>
