<h1 class="has-text-centered">
  Что делать, когда человек умер?
</h1>
<hr>
<p>Если покойный человек состоял на учете в поликлинике, давно болел, диагноз давно известен, в этом случае «Скорую
  помощь» и «Полицию» вызывать не нужно! Вы можете избежать вскрытия тела, помещения покойного человека на
  судебно-медицинскую экспертизу, где находятся тела найденных убитых, сгоревших, утопленников и прочие судебные тела
  «вперемешку». Зачем мучить человека после смерти, когда и так все ясно?</p>
<h2 class="has-text-centered">Многое ли зависит оттого, в какое время суток наступила смерть?</h2>
<p>Если смерть наступила в рабочее время поликлиники, родственникам необходимо сразу обратиться в поликлинику к своему
  или дежурному терапевту для получения медицинского заключения о смерти. Медицинское свидетельство о смерти оформляется
  на основании паспорта и амбулаторной карты покойного, его медицинского полиса, паспорта заявителя.
  Как правило, поликлиники работают пн.-пт. с 8:00 до 20:00, сб.-вс. с 8:00 до 15:00.
   </p>
<p>Возможно, вам сразу на медицинском заключении о смерти (в народе его называют «Справка о смерти», далее «Справка») не
  поставят круглую печать, а только распишется терапевт, так как печать ставит заведующая, которой в выходные дни может
  не быть на месте. Подписи будет достаточно, чтобы обратиться в ритуальную компанию для решения всех вопросов,
  связанных с захоронением и подготовкой покойного. Печать можно будет поставить в будний день.
  По закону с момента последнего обращения к врачу должно пройти не более 2-х недель, тогда «Справку», как правило
  выдают автоматически. Дополнительно рекомендуем обязательно проконсультироваться с лечащим врачом (терапевтом), у
  которого наблюдался умерший человек.
</p>
<i>Совет: чтобы не было проблем со «Справкой», вызывайте на дом почаще врача, хотя бы каждые 2 недели, это Ваше законное
  право!</i>
<h2 class="has-text-centered">Медицинское свидетельство о смерти</h2>
<p>Медицинское свидетельство о смерти оформляется районной поликлиникой только при условии, что человек находится на
  учете в поликлинике и со дня последнего обращения умершего к врачу прошло не более двух недель. Во всех остальных
  случаях медицинское свидетельство о смерти оформляется после патологоанатомического или судебно-медицинского
  исследования в морге. В тот момент, когда производится выдача свидетельства о смерти в Волгограде, проверьте
  правильность написания даты выдачи документа и даты смерти, соответствие паспортным данным записей, внесенных в
  медицинское свидетельство о смерти, наличие записи о месте смерти (например: РФ, г. Волгоград), наличие на оборотной
  стороне врачебного свидетельства о смерти круглой печати лечебного учреждения, подписи, фамилии и должности врача,
  выдавшего документ, и указание диагноза. Исправления в медицинском свидетельстве о смерти не допускаются.</p>
<h2 class="has-text-centered">Для чего нужна «Справка о смерти»?</h2>
<p>«Справка» нужна для подготовки тела покойного в домашних условиях или в специализированных условиях ритуальной
  службы, с помещением покойного на сохранение тела в холодильную камеру.
  После того, как вы получите «Справку», не теряя времени, прямо выходя из поликлиники позвоните в ритуальную службу. В
  течении 1-го часа наши сотрудники приедут на адрес, по которому находится покойный.
  На ваш выбор покойного человека подготавливают на дому, или увозят на сохранение в холодильную камеру, где подготовят
  тело к прощанию.</p>
<h2 class="has-text-centered">Что такое «КПТ»?</h2>
<p>«КПТ» - это Комплексная Подготовка Тела, в которую входит: санитарная обработка тела, бальзамирование, устранение
  трупных пятен, процедура для сохранения лица, легкий макияж, одевание. Дополнительно, по желанию родственников, можно:
  подстричь ногти, побрить щетину, по желанию заказчиков производим устранение каких-либо дефектов. В каждой ситуации
  применяется индивидуальный подход.
  Все эти работы производят наши дипломированные, квалифицированные специалисты с медицинским образованием, с
  многолетним стажем в этой сфере услуг. На свою работу мы даем гарантию до 5-ти суток, что с телом человека ничего не
  случится даже в домашних условиях. Современные препараты вводятся под давлением через тазобедренную артерию, расходясь
  по всему организму.
  Мы несем ответственность за свою работу и делаем ее добросовестно!
  Остерегайтесь мошенников, «черных ритуальщиков», которые согласны за «три копейки» забальзамировать тело покойного,
  сделать банальное поверхностное обкалывание тела, которое дает незначительный и временный эффект. Они не могут дать
  никаких гарантий и не будут нести никакой ответственности за сохранность вашего близкого! Где вы будете искать их,
  когда тело покойного начнет портиться?
</p>
<h2 class="has-text-centered">Зачем помещать тело покойного на сохранение в холодильную камеру, если можно просто
  забальзамировать?</h2>
<p>Это делается по разным причинам, по этическим соображениям, из-за стесненных условий и так далее. Решать, конечно же
  вам, но для достижения наиболее качественного эффекта по сохранению тела покойного лучше объединять бальзамирование и
  холодильную камеру. Бальзамирование в первую очередь приостанавливает процесс гниения изнутри, а температура в
  холодильной камере +5 сохраняет естественный «живой» вид покойного человека.</p>
<h2 class="has-text-centered">Если смерть наступила в часы, когда поликлиника не работает и справку о смерти получить
  из-за этого невозможно?</h2>
<p>Если диагноз человека известен, официально подтвержден, покойный состоял на учете в поликлинике, для того чтобы
  избежать вскрытия – мучений покойного после смерти и его родных, «Скорую помощь» и «Полицию» вызывать не нужно!</p>
<b>1-й вариант:</b>
<p>Вы незамедлительно звоните по телефону в ритуальную службу, в первую очередь, наши сотрудники скоординируют ваши
  действия, подскажут, как действовать дальше в конкретной ситуации.
  Мы можем оперативно (в течении 1-го часа), приедем к вам. Для того чтобы тело покойного не испортилось, подготовим его
  к прощанию на дому, эта процедура занимает от 1,5 до 2,5 часов, в зависимости от комплекции покойного, задач
  поставленных перед специалистом и от сложности ситуации в целом.
  За это время люди обычно стараются приехать к нам в магазин-офис (у нас 3 филиала в Волгограде) для того, чтобы
  приобрести гроб и иные ритуальные принадлежности. Дополнительно можно забронировать транспорт, носильщиков, выбрать
  венки, заказать подписи лент, табличку на крест и многое другое. Тем самым за короткое время вы решите все самые
  необходимые вопросы связанные с подготовкой тела покойного и его захоронением.
  Мы сразу же делаем доставку приобретенного товара на дом. Водитель с нашим специалистом, который уже к этому времени
  заканчивает подготовку тела, уложат покойного в гроб. После этого покойный будет готов к прощанию, перевозки в храм, к
  захоронению. Рекомендуем делать все эти процедуры сразу, это цивилизованно и эстетично. До сих пор встречаются люди,
  которые предпочитают, чтобы их родственник лежал на полу или на диване и ждал, когда его родные позаботятся о
  достойном отношение к его телу.
  Еще раз повторимся, что каждая ситуация индивидуальна. Нет нерешаемых вопросов. Вы ставите перед нами задачу – мы
  помогаем ее решить!
</p>
<b>2-й вариант:</b>
<p>
  В порядке исключения, строго под вашу ответственность, если вы уверены, если есть договоренность с терапевтом, что
  «Справка» 100% будет утром, наши сотрудники так же оперативно (в течении 1-го часа) увезут тело покойного на
  сохранение в холодильную камеру.
  После того, как вы утром предоставите «Справку», наши специалисты  подготовят тело к прощанию. Для этого вам
  необходимо предъявить свой паспорт и паспорт покойного, медицинские выписки, медкарту, если таковые имеются на руках.
  Если есть одежда, в которую необходимо будет одеть покойного человека, нужно передать ее с нашими сотрудниками (при
  желании можно передать какие-либо личные вещи, которые мы положим в гроб), если же нет, тогда принести ее по прибытию
  к нам утром или приобрести одежду у нас в магазине, у нас есть вся необходимая одежда любых размеров и все необходимые
  принадлежности.
  В часы работы поликлиники вам необходимо получить «Справку о смерти». Если вы еще не были у нас, вам в первую очередь
  необходимо приехать к нам в любой удобный для вас магазин-офис (в Волгограде 3 филиала на ваш выбор) для оформления
  заказа и для решения всех вопросов связанных с организацией похорон.
</p>
<h2>Как осуществляется транспортировка тела покойного?</h2>
<p>В отличии от муниципальной, так называемой «труповозки», которая перевозит на своих автомобилях всех подряд, это
  судебные тела (ДТП, утопленники, сгоревшие и прочие) наша транспортировка тела покойного осуществляется цивилизованным
  образом, на единственных в Волгограде специализированных автомобилях, с использованием одноразовых, непрозрачных,
  черных транспортировочных мешков на молнии.
  Каждая ситуация индивидуальна. Все ваши пожелания будут строго учтены. Для нас нет нерешаемых вопросов!
  Помните! Вся эта информация касается некриминальных случаев смерти, только когда человек состоит на учете в
  поликлинике и находится под наблюдением врачей.</p>
