<section class="section content content-padding">
  <div class="columns">
    <div class="column is-one-fifth">
      <aside class="menu">
        <p class="menu-label">Полезные статьи</p>
        <ul class="menu-list">
          <li><a routerLink="/article/Как проводить человека в последний путь?">Как проводить человека в последний путь?</a></li>
          <li><a routerLink="/article/Государственная регистрация смерти">Государственная регистрация смерти</a></li>
          <li><a routerLink="/article/Что делать, когда человек умер?">Что делать, когда человек умер?</a></li>
          <li><a routerLink="/article/Бальзамирование">Бальзамирование</a></li>
          <li><a routerLink="/article/Ритуальные перевозки">Ритуальные перевозки</a></li>
          <li><a routerLink="/article/Организация и проведение поминок в Волгограде">Организация и проведение поминок в
            Волгограде</a></li>
          <li><a routerLink="/article/Гранитные памятники">Гранитные памятники</a></li>
          <li><a routerLink="/article/Уход за могилами">Уход за могилами</a></li>
        </ul>
      </aside>
    </div>
    <div class="column">
      <router-outlet class="content"></router-outlet>
    </div>
  </div>
</section>
