<h2 class="heading has-text-centered">Уход за могилами</h2>
<hr>
<p>Ритуальная служба "В последний путь..." - одна из немногих компаний, занимающихся уходом за могилами в Волгограде,
  предлагает эмигрантам и людям с ограниченными возможностями, чьи родственники покоятся в земле на территории
  Волгограда и Волгоградой области, помощь в организации ухода за могилами с последующим предоставлением фотоматериала в
  качестве отчета о проделанной работе.</p>
<p>Заботу и внимание к человеку близкие люди продолжают проявлять даже после его утраты. Но мало просто провести
  похороны, выкопать могилу в Волгограде, намного больше времени и сил требует постоянный уход за могилами, а для многих
  это часто оказывается трудновыполнимым условием. В силу определенных причин кладбище начинает посещаться
  родственниками и друзьями все реже, а само место захоронения - вследствие этого постепенно утрачивает свой внешний
  вид.</p>
<p style="padding-bottom: 30vh">Разумеется, из ситуации можно найти выход: например, с соответствующей просьбой обратиться к близким людям, которые
  при необходимости подкрасят ограждение, устранят мусор, высадят новые цветы или просто совершат дополнительный визит
  на место захоронения. К сожалению, не у каждого из нас есть такая возможность, да и помощь сторонних людей зачастую
  способна продолжаться лишь до определенного срока.</p>
